/* Configuración general */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

/* Estructura principal */
.admin-container {
  display: flex;
  height: 100vh;
}

/* Menú lateral */
.sidebar {
  width: 250px;
  background-color: #f2e8dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0d5c4;
}

.logo {
  width: 140px;
  margin-bottom: 10px;
}

.location {
  color: #b46a3a;
  font-weight: bold;
  font-size: 14px;
}

/* Contenido principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
.header {
  background-color: #e9d8c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  padding: 75px 25px;  /* Lo hace pa' abajo */
=======
  padding: 60px 25px;
>>>>>>> dd73b3179c436ba7d571f40b7fff844c7246add2
}

.header h2 {
  margin: 0;
  font-size: 20px;
}

.search-filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-filters input,
.search-filters select {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-secondary {
  background-color: #f5f5f5;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* Usuario */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin: 0;
}

.role {
  font-size: 12px;
  color: gray;
  margin: 0;
}

/* Botones principales */
.actions {
  margin: 20px 25px;
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #9c6a63;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #82564f;
}

/* Tabla 
table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e9d8c5;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #9c6a63;
}*/

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}

.pagination button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #9c6a63;
  color: white;
  border: none;
}