.pagination {
  display: flex;
  justify-content: center;
  margin: 150px 100px 0;;
  gap: 5px;
}

.pagination button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #9c6a63;
  color: white;
  border: none;
}
