/* Configuración general */


/* Menú lateral */
.sidebar {
  width: 250px;
  padding: 70px 10px;
  background-color: #f2e8dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0d5c4;
}

.logo {
  width: 140px;
  margin-bottom: 10px;
}

.location {
  color: #b46a3a;
  font-weight: bold;
  font-size: 14px;
}

/* Estilo del botón de cerrar sesión */
.logout-btn {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: #b46a3a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background-color: #9a542f;
}
