/* Encabezado */
body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #e9d8c5;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 60px 25px;

}

.header h2 {
  margin: 0;
  font-size: 20px;
}

.search-filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-filters input,
.search-filters select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-secondary {
  background-color: #f5f5f5;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*.avatar {
  width: 40px;
  height: 40px;
  background-image: url('../pic2.jpg');
  background-color: #000;
  border-radius: 50%;
}
*/
.avatar {
  width: 60px;          /* ancho del avatar */
  height: 60px;         /* alto del avatar */
  border-radius: 50%;   /* forma circular */
  background-image: url('./pic2.jpg'); /* aquí la ruta de la imagen */
  background-size: cover;      /* cubrir todo el div */
  background-position: center; /* centrar la imagen */
  margin-right: 10px;          /* separación del texto */
  display: inline-block;
}

.name {
  font-weight: bold;
  margin: 0;
}

.role {
  font-size: 12px;
  color: gray;
  margin: 0;
}

/* Botones principales */
.actions {
  margin: 20px 25px;
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #9c6a63;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 150px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #82564f;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin: 0;
}

.role {
  font-size: 12px;
  color: gray;
  margin: 0;
}

/* Botones principales */
.actions {
  margin: 20px 25px;
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #9c6a63;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #82564f;
}