<header class="header">
  <link rel="stylesheet" href="header.css">
        <div class="search-filters">
          <input type="text" placeholder="Buscar por nombre o ID">
           <select>
            <option>Todas</option>
            <option>Administrador</option>
            <option>Supervisor</option>
          </select>
          <select>
            <option>Todas</option>
            <option>Matutino</option>
            <option>Vespertino</option>
            <option>Nocturno</option>
          </select>
            <select>
            <option>Todas</option>
            <option>🟢</option>
            <option>🔴</option>
          </select>
          <button class="btn-secondary"> Limpiar</button>
        </div>
        <div class="user-info">
          <div class="avatar"></div>
          <div>
            <p class="name">Everardo Valenzuela García</p>
            <p class="role">ADMINISTRADOR 🟢</p>
          </div>
        </div>
      </header>