<div class="actions">

  <button class="btn-primary" onclick="parent.openModal()">
  <i class="fa-solid fa-user-plus"></i> Agregar trabajador
</button>

<button class="btn-primary" onclick="parent.openModalEditar()">
  <i class="fa-solid fa-user-pen"></i> Editar trabajador
</button>

<button class="btn-primary" onclick="parent.openModalEliminar()">
  <i class="fa-solid fa-user-xmark"></i> Eliminar trabajador
</button>


      <script src="botones.js"></script>
      <link rel="stylesheet" href="botones.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</div>
