<body>
    <link rel="stylesheet" href="./eliminarUser.css">
    <div class="modal-overlay">
        <div class="modal">
            <div class="icon-container">
                <div class="warning-icon">
                    <span class="exclamation">!</span>
                </div>
            </div>
            
            <div class="modal-message">
                <p>¿Estas seguro que quieres eliminar usuario ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-cancel">Cancelar</button>
                <button type="button" class="btn btn-accept">Aceptar</button>
            </div>
        </div>
    </div>
</body>